#banner
  .banner_content
    %h1 File FileCabinet
    %p Your Lives Work. Organize, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callouts
        %h2 Organize
        %p Shabby chic brunch pop-up ut. Et mollit voluptate, iPhone roof party art party slow-carb meggings keytar tumblr tacos cliche. Snackwave commodo narwhal, mollit four loko asymmetrical tempor kitsch. Listicle exercitation venmo chillwave, polaroid flannel elit pariatur quis tousled yr migas gluten-free iPhone unicorn. 3 wolf moon esse mumblecore, commodo godard normcore keytar helvetica palo santo four loko.

#bottom_cta
  .wrapper
    %h2 Go Ahead
    %br
    %button= link_to "Join Now", new_user_registration_path
